.dash-main-only {
  padding: 40px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.welcome-box {
  background: #fffdf8;
  border-radius: 20px;
  height: 160px;
  width: 100%;                
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}
.welcome-box h1 {
  font-size: 36px;
  font-weight: 700;
}


.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 40px;
}


.bottom-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
}


.recent-box {
  background: #fffdf8;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.recent-header h2 {
  font-size: 22px;
}

.link-btn {
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.recent-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recent-row {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  padding: 12px;
  border-radius: 10px;
  background: #ffffff;
}

.recent-date {
  font-weight: 600;
}

.recent-name {
  font-weight: 500;
}

.recent-service {
  text-align: right;
}


.quick-box {
  background: #fffdf8;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.quick-box h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.quick-btn {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #ecffe9;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 12px;
  transition: background 0.2s;
}

.quick-btn:hover {
  background: #d6f5d2;
}
