* {
  box-sizing: border-box;
}


.login-page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(135deg, #9b6a52, #6f4634);
  font-family: "Segoe UI", sans-serif;
}

.login-card {
  background: #f4f3f1;
  border-radius: 36px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
  padding: 60px;
  display: flex;
}

.login-card.wide {
  width: 1200px;
}

.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}

.custom-input {
  width: 100%;
  height: 52px;
  border-radius: 8px !important;
  border: none !important;
  padding: 0 16px;
  padding-right: 48px;
  font-size: 15px;
  background: #fff !important;
}
/* Chrome autofill javítás */
.login-page input:-webkit-autofill,
.login-page input:-webkit-autofill:hover,
.login-page input:-webkit-autofill:focus,
.login-page input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  box-shadow: 0 0 0 1000px #ffffff inset !important;
  -webkit-text-fill-color: #333 !important;
  caret-color: #333;
  transition: background-color 9999s ease-in-out 0s;
  color: black;
}


.input-wrapper {
  position: relative;
}

.login-icon {
  position: absolute;
  right: 16px;
  top: 26px;               
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #666;
  pointer-events: auto;
}

.login-icon svg {
  width: 20px !important;
  height: 20px !important;
  stroke-width: 1.5 !important;
}

.forgot {
  font-size: 12px;
  color: #999;
  text-align: right;
  margin-bottom: 36px;
  cursor: pointer;
}

.login-btn {
  height: 52px;
  border-radius: 10px;
  border: none;
  background: #9b5a3a !important;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: #84482d !important;
}

.divider {
  width: 1px;
  background: #999;
  margin: 0 50px;
}

.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 360px;
  margin-bottom: 40px;
}

.socials {
  display: flex;
  gap: 16px;
}

.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  background: #9b5a3a;
  padding: 12px;
  border-radius: 12px;
  width: 60px;
  height: 60px;
}

.socials a:hover {
  background: #84482d;
}

@media (max-width: 768px) {
  .login-card.wide {
    flex-direction: column;
    width: 100%;
    padding: 40px 20px;
  }

  .divider {
    display: none;
  }
  .logo {
    margin-top: 20px;
  }
}
