.dashboard-container {
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-card {
    text-align: center;
    width: 95%;
    margin-bottom: 2rem;
    background-color: #fff8f0;
    border-radius: 12px;
    padding: 5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.content-sections {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    background-color: #fff8f0 !important;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 45%;
    min-width: 300px;
    align-items: center;
}

.view-button {
    background-color: #fff8f0;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-top: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.view-button:hover {
    background-color: #898989;
    color: white;
}

p, li {
    font-size: large;
}

@media (max-width: 1000px) {
    .content-sections {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    .welcome-card {
        width: 95%;
    }
}