@font-face {
  font-family: Orienta;
  src: url(/Orienta-Regular.ttf); 
}
@font-face {
  font-family: Oxygen;
  src: url(/Oxygen-Regular.ttf); 
}

#root {
  width: 100vw;
  margin: 0;
}

@media (min-width: 992px) {
  .ms-lg-260 {
    margin-left: 260px;
  }
}

main {
  background: #FFFFFF;
  background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 250, 241, 1) 100%);
}

.fw-bold, .nav-link {
  font-family: Orienta;
}

h1, h2 { 
  font-family: Orienta;
}